@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap");
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/PlusJakartaSans/PlusJakartaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Define your SCSS variables here */ /* Define your reusable mixins here */
/* More mixins as needed... */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

body {
  line-height: 1;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: initial;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  background-color: #F8F8F8;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

mark {
  background-color: #fdffb6;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 1.6;
  }
}
@media (min-width: 992px) {
  p {
    font-size: 17px;
    line-height: 1.6;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.925em;
  }
  h3 {
    font-size: 1.65em;
  }
  h4 {
    font-size: 1.375em;
  }
  h5 {
    font-size: 1.1em;
  }
  h6 {
    font-size: 0.825em;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.925em;
  }
  h3 {
    font-size: 1.65em;
  }
  h4 {
    font-size: 1.375em;
  }
  h5 {
    font-size: 1.1em;
  }
  h6 {
    font-size: 0.825em;
  }
}
p {
  margin-bottom: 1em;
}

h1 {
  padding-top: 1em;
  margin-bottom: 0.75em;
}

h2 {
  margin-bottom: 0.75em;
}

h3 {
  margin-bottom: 0.75em;
}

h4 {
  margin-bottom: 0.75em;
}

h5 {
  margin-bottom: 0.75em;
}

h6 {
  margin-bottom: 0.75em;
}

@media (min-width: 768px) {
  p {
    margin-bottom: 1.1em;
  }
  h1 {
    margin-bottom: 0.825em;
  }
  h2 {
    margin-bottom: 0.825em;
  }
  h3 {
    margin-bottom: 0.825em;
  }
  h4 {
    margin-bottom: 0.825em;
  }
  h5 {
    margin-bottom: 0.825em;
  }
  h6 {
    margin-bottom: 0.825em;
  }
}
@media (min-width: 992px) {
  p {
    margin-bottom: 1.2em;
  }
  h1 {
    margin-bottom: 0.9em;
  }
  h2 {
    margin-bottom: 0.9em;
  }
  h3 {
    margin-bottom: 0.9em;
  }
  h4 {
    margin-bottom: 0.9em;
  }
  h5 {
    margin-bottom: 0.9em;
  }
  h6 {
    margin-bottom: 0.9em;
  }
}
a {
  color: #6db9fb;
  font-weight: 600;
  text-decoration: underline;
}

h1 {
  color: #00548D;
}

h2.byline {
  margin-top: -16px;
}
@media (min-width: 768px) {
  h2.byline {
    margin-top: -20px;
  }
}
@media (min-width: 992px) {
  h2.byline {
    margin-top: -23px;
  }
}

.slide__caption .slide__description {
  font-size: 1.9rem;
}
@media (min-width: 768px) {
  .slide__caption .slide__description {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .slide__caption .slide__description {
    font-size: 2.6rem;
  }
}

.region-content li {
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .region-content li {
    font-size: 16px;
    line-height: 1.6;
  }
}
@media (min-width: 992px) {
  .region-content li {
    font-size: 17px;
    line-height: 1.6;
  }
}
.region-content ul {
  list-style-type: circle;
  margin-left: 30px;
  margin-top: 20px;
}
.region-content ol {
  list-style-type: decimal;
  margin-left: 30px;
  margin-top: 20px;
}
.region-content li {
  margin-left: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  line-height: 1.5em;
}

.node-31 .field--name-body ol {
  list-style-type: decimal;
  margin-left: 30px;
  margin-top: 20px;
}
.node-31 .field--name-body li {
  margin-left: 5px;
  padding-bottom: 50px;
  padding-left: 5px;
  line-height: 1.5em;
}
.node-31 .field--name-body li::marker {
  font-size: 1.65em;
}

/* Base Styles (Mobile First) */
section#block-ppwg-views-block-ppwg-slideshow-block-2 {
  margin-top: 15px;
}

.view-ppwg-slideshow .slick__slide {
  position: relative;
}

/* Positioning the headline and subhead over the image for mobile */
.view-ppwg-slideshow .blazy__caption {
  position: absolute;
  top: 21%; /* Adjust as needed for mobile */
  left: 36%;
  transform: translateX(-50%);
  text-align: left;
  width: 58%; /* Adjust width as needed */
  color: white;
}

/* Styling for the headline - Mobile */
.view-ppwg-slideshow .blazy__caption--title {
  color: #006DB8;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 28px; /* Smaller font for mobile */
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

/* Styling for the subhead - Mobile */
.view-ppwg-slideshow .blazy__caption--description {
  color: #006DB8;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px; /* Smaller font for mobile */
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left; /* Justify subhead to the left */
  display: none;
}

/* Medium Screens (Tablets) */
@media (min-width: 768px) {
  .view-ppwg-slideshow .blazy__caption {
    position: absolute;
    top: 45%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 55%;
  }
  .view-ppwg-slideshow .blazy__caption--title {
    font-size: 36px; /* Adjusted font size for tablets */
    line-height: 42px;
    color: #4D4E4F;
  }
  .view-ppwg-slideshow .blazy__caption--description {
    font-size: 20px; /* Adjusted font size for tablets */
    line-height: 26px;
    display: block;
  }
}
/* Large Screens */
@media (min-width: 992px) {
  .view-ppwg-slideshow .blazy__caption--title {
    font-size: 49px; /* Original font size for large screens */
    line-height: 62px;
  }
  .view-ppwg-slideshow .blazy__caption--description {
    font-size: 26px; /* Original font size for large screens */
    line-height: 40px;
  }
}
/*-- Homepage Paragraphs --*/
h2.field--name-field-join-us-title, h2.field--name-field-feature-title, h2.field--name-field-testimonial-title, h2.field--name-field-about-us-title {
  padding: 40px 0 0px;
  text-align: center;
  font-weight: 300;
  line-height: 1.3em;
  clear: both;
}

.paragraph.paragraph--type--about-section.paragraph--view-mode--default {
  padding: 10px 70px 50px;
  border: 2px solid #8a6d3b;
  background: #080808;
  border-radius: 20px;
  margin-bottom: 40px;
}

.paragraph.paragraph--type--feature.paragraph--view-mode--default {
  padding: 10px 70px 50px;
  border: 2px solid #8a6d3b;
  background: #080808;
  border-radius: 20px;
  margin-bottom: 40px;
}

.paragraph.paragraph--type--testimonials.paragraph--view-mode--default {
  padding: 10px 70px 50px;
  border: 2px solid #8a6d3b;
  background: #080808;
  border-radius: 20px;
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .paragraph.paragraph--type--feature.paragraph--view-mode--default {
    margin: 10px 20px 50px 0px;
  }
  .paragraph.paragraph--type--testimonials.paragraph--view-mode--default {
    margin: 10px 0 50px 20px;
  }
}
.field--name-field-feature-description ul {
  list-style-type: disc;
  margin-left: 20px;
}
.field--name-field-feature-description ul li {
  padding: 0 0 26px 6px;
  line-height: 1.5em;
}

@media (min-width: 1200px) {
  .field--name-field-features-section, .field--name-field-testimonials {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  .field--name-field-features-section:nth-child(2n), .field--name-field-testimonials:nth-child(2n) {
    margin-right: 0;
  }
}

.field--name-field-image-homepage img {
  margin: 0 auto;
  border-radius: 20px;
  padding-bottom: 40px;
}

/* join now button */
.field--name-field-join-us-text {
  text-align: center;
}
.field--name-field-join-us-text .join-now-button {
  margin: 20px 0 0;
  width: 133px;
  font-weight: bold;
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 12px;
  text-decoration: none;
  text-align: center;
  border: 1px solid white;
  text-transform: uppercase;
}
.field--name-field-join-us-text .join-now-button a {
  color: #fff;
}
.field--name-field-join-us-text .join-now-button a:hover {
  text-decoration: none;
}
.field--name-field-join-us-text .join-now-button:hover {
  background-color: #0056b3;
}

/*-- IP Button Text --*/
.block-title {
  margin: 0.5em 0;
  font-size: 2rem;
}

.ip-block {
  text-align: center;
  margin: 10px auto;
}

.ip-box-container {
  padding: 10px;
  border: 3px solid #545454;
  background-color: #181818;
  border-radius: 15px;
}
.ip-box-container h2 {
  text-align: center;
}

.ip-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #080808;
}
.ip-title h3 {
  margin: -0.5em 0 0.5em 0;
}
.ip-title p {
  margin-block-start: -1em;
}

/* Load Variables */
/* Mobile-specific styles */
@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #F8F8F8;
    width: 100%;
    /* Optional: Style for the dropdown menus */
  }
  .navbar-collapse .navbar-nav {
    width: 100%;
  }
  .navbar-collapse .navbar-nav > li {
    text-align: center;
  }
  .navbar-collapse .navbar-nav > li > a {
    color: #00548D;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    padding: 15px 15px;
    display: block;
  }
  .navbar-collapse .navbar-nav > li > a:hover {
    background-color: #00548D;
    color: #F8F8F8;
  }
  .navbar-collapse .dropdown-menu {
    background-color: #00548D;
    color: #F8F8F8;
    border: none;
    box-shadow: none;
    width: 100%;
  }
  .navbar-collapse .dropdown-menu li a {
    text-align: center;
    color: #00548D;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    padding: 15px 15px;
    display: block;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #F8F8F8;
    background-color: #00548D;
  }
}
/* Mobile First Items */
.navbar-nav {
  margin: 0;
}

.navbar {
  margin-bottom: 0;
  border: none;
}

.navbar .logo {
  padding-left: 30px;
  margin-top: 30px;
}

.navbar.container, .navbar.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-header {
  height: 60px;
  background-color: #005793;
  float: none;
}

/* Top User Menu Items */
.navbar-right.menu--account li {
  float: right;
}
.navbar-right.menu--account li a {
  display: inline-block;
  border-radius: 100px;
  border: 2px solid #FFF;
  color: #FFF;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 13px;
  line-height: normal;
  text-transform: capitalize;
  padding: 2px 16px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 14px center;
  margin: 17px 26px 0 0;
  transition: color 0.3s ease;
}
.navbar-right.menu--account li a:hover {
  color: #66B2FF;
}

/* Specific background image for Patient Login */
.navbar-right.menu--account li a.patient-login {
  background-image: url("/sites/default/files/icon _lock.png");
  background-size: 10px;
  padding-left: 33px;
}

/* Specific background image for Telehealth */
.navbar-right.menu--account li a.telehealth-visit-menu {
  background-image: url("/sites/default/files/icon_speech_typing.png");
  background-size: 15px;
  padding-left: 36px;
}

/* Specific background image for Appointment */
.navbar-right.menu--account li a.make-an-appointment {
  padding: 3px 4px 4px 4px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid white;
  background: #FFBEBF;
  color: #534D4D;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  width: 120px;
  margin-top: 10px;
}
.navbar-right.menu--account li a.make-an-appointment:hover {
  background-color: #66baf1;
  color: #005793;
}

.navbar-default .navbar-toggle {
  border-color: #66baf1;
  margin: 35px 50px 0 0;
  border: 3px solid #66baf1;
}
.navbar-default .navbar-toggle:hover {
  background-color: #005793;
  border-color: #ccc;
  border: 3px solid #ccc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #66baf1;
  height: 3px;
}

/* Medium Size Screens */
@media (min-width: 768px) {
  .navbar.container {
    max-width: 100%;
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .navbar .logo {
    padding: 10px;
    margin-top: 70px;
  }
  .menu--main {
    margin-top: 20px !important;
    float: right;
  }
  .menu--main li a {
    color: #00548D !important;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
  }
  .menu--main li .dropdown-menu li a {
    background-color: #F8F8F8;
    border: none;
    color: #00548D !important;
    padding: 10px 20px;
    text-align: left;
    justify-content: left;
    width: 100%;
  }
  .menu--main li .dropdown-menu li a:hover {
    color: #F8F8F8 !important;
  }
}
@media (min-width: 992px) {
  .navbar.container {
    max-width: 1140px;
    width: 100%;
  }
  .menu--main li a {
    color: #00548D !important;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
  .menu--main li a.last {
    padding-right: 0;
  }
  .menu--main li.last > a {
    padding-right: 15px;
  }
  .navbar-nav .dropdown .dropdown-menu a:hover {
    background-color: #005793;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    line-height: 20px;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .expanded ul.dropdown-menu {
    left: 0;
    right: auto;
    min-width: 225px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }
}
.webform-submission-form {
  padding: 10px 70px 50px;
  border: 2px solid #8a6d3b;
  background: #080808;
  border-radius: 20px;
  margin-bottom: 40px;
}
.webform-submission-form .fieldset-wrapper,
.webform-submission-form .form-item {
  max-width: 100%;
  margin-bottom: 10px;
}
.webform-submission-form .form-item {
  color: #ccc;
  border-color: transparent;
  background-color: #080808;
  border-radius: 5px;
}
.webform-submission-form .panel-heading {
  background-color: transparent;
}
.webform-submission-form .panel-heading .panel-title {
  color: #ccc;
  font-weight: bold;
}
.webform-submission-form legend {
  border-bottom: none;
  margin-bottom: 10px;
}
.webform-submission-form .fieldset-legend,
.webform-submission-form .control-label {
  color: #ccc;
  font-family: "Montserrat", sans-serif;
  font-size: initial;
  font-weight: bold;
  padding-top: 20px;
}
.webform-submission-form .form-textarea,
.webform-submission-form .webform-options-display-buttons-label,
.webform-submission-form input[type=text],
.webform-submission-form input[type=email],
.webform-submission-form input[type=tel],
.webform-submission-form input[type=checkbox] {
  color: #ccc;
  background-color: #2d2d2d;
  border: transparent;
  height: 50px;
}
.webform-submission-form .form-textarea:focus,
.webform-submission-form .webform-options-display-buttons-label:focus,
.webform-submission-form input[type=text]:focus,
.webform-submission-form input[type=email]:focus,
.webform-submission-form input[type=tel]:focus,
.webform-submission-form input[type=checkbox]:focus {
  border-color: #8a6d3b;
  box-shadow: none;
}
.webform-submission-form input[type=checkbox] {
  height: 20px;
}
.webform-submission-form .form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.webform-submission-form .webform-button--submit {
  margin: 0;
  width: 133px;
  font-weight: bold;
  display: inline-block;
  background-color: #007bff;
  border-radius: 5px;
  font-size: 18px;
  padding: 4px 12px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ccc;
  text-transform: uppercase;
}
.webform-submission-form .webform-button--submit a {
  color: #ccc;
}
.webform-submission-form .webform-button--submit a:hover {
  text-decoration: none;
}
.webform-submission-form .webform-button--submit:hover {
  background-color: #0056b3;
}
.webform-submission-form div.panel-body,
.webform-submission-form .checkboxes--wrapper,
.webform-submission-form .container-inline div,
.webform-submission-form .container-inline label {
  display: block;
}

.input-max-width {
  max-width: 760px;
}

.input-wrapper.container {
  position: relative;
}

.webform-options-display-buttons input:checked + label.webform-options-display-buttons-label {
  background-color: #ccc;
  border-color: #2d2d2d;
}

.container-inline .help-block {
  display: block;
  font-size: initial;
  line-height: 1.3;
  color: #ccc;
}

#edit-parent-information {
  display: inline;
}
#edit-parent-information .webform-element-help-container--title {
  margin: 0;
}

/* Radio Buttons */
#edit-declaration--wrapper-legend {
  display: block;
  position: relative;
  padding: 10px 0;
}

label.option {
  display: flex;
  align-items: center;
}
label.option input[type=radio] {
  order: 1;
}
label.option span {
  order: 2;
}

input.form-radio {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid #8a6d3b;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.2s, border-color 0.2s;
}
input.form-radio:checked {
  background-color: #007bff;
  border-color: #0056b3;
}
input.form-radio:focus {
  outline: none;
  border-color: #8a6d3b;
  box-shadow: 0 0 5px #8a6d3b;
}

.control-label.option {
  display: flex;
  align-items: center;
}
.control-label.option .form-radio {
  margin: 0 10px 0 0;
  flex: none;
  display: inline-block;
  vertical-align: middle;
}

.webform-element-help {
  vertical-align: middle;
  width: 13px;
  height: 13px;
  background: #8a6d3b;
  border: none;
}
.webform-element-help:hover, .webform-element-help:focus {
  color: #fff;
  border: none;
  background: #8a6d3b;
}

.webform-options-display-buttons label.webform-options-display-buttons-label {
  background-color: #353434;
  border: 3px solid #353434;
}

.webform-options-display-buttons input:checked + label.webform-options-display-buttons-label {
  background-color: #0056b3;
  border: 3px solid #ccc;
}

section#block-ppwg-ppwgfeatureservices {
  position: relative;
  z-index: 10;
  margin-top: -40px;
  background: url("/sites/default/files/blue-wave.png") no-repeat center center; /* Add your background */
  background-size: cover;
}
section#block-ppwg-ppwgfeatureservices p {
  margin-bottom: 12px;
}
section#block-ppwg-ppwgfeatureservices .feature-boxes-wrapper {
  padding: 40px; /* Space around the boxes */
}
section#block-ppwg-ppwgfeatureservices .feature-box {
  border-radius: 30px;
  border: 2px solid #e7e7e7;
  background: #E4F4FF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-bottom: 20px; /* Vertical spacing between boxes */
  text-align: center;
}
section#block-ppwg-ppwgfeatureservices .feature-title {
  color: #00548D;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 23px;
  font-weight: 700;
}
section#block-ppwg-ppwgfeatureservices .feature-text {
  color: #4D4E4F;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 145.5%;
}
section#block-ppwg-ppwgfeatureservices .feature-btn {
  display: inline-block;
  color: #FFF;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
  border: 2px solid #FFF;
  background: #00548D;
  padding: 5px 20px;
  margin-top: 10px;
  text-decoration: none;
}

@media (min-width: 768px) {
  section#block-ppwg-ppwgfeatureservices {
    margin-top: -70px;
  }
  section#block-ppwg-ppwgfeatureservices .feature-box {
    margin-right: 30px; /* Space between boxes */
    margin-left: 30px; /* Space between boxes */
  }
  section#block-ppwg-ppwgfeatureservices .feature-boxes-wrapper .row {
    display: flex;
    justify-content: space-between;
  }
  section#block-ppwg-ppwgfeatureservices .feature-title {
    font-size: 27px;
  }
  section#block-ppwg-ppwgfeatureservices .feature-text {
    font-size: 16px;
    line-height: 145.5%;
  }
}
@media (min-width: 992px) {
  section#block-ppwg-ppwgfeatureservices {
    margin-top: -80px;
  }
  section#block-ppwg-ppwgfeatureservices .feature-box {
    margin-right: 40px; /* Space between boxes */
    margin-left: 40px; /* Space between boxes */
  }
  section#block-ppwg-ppwgfeatureservices .feature-title {
    font-size: 34px;
    margin-bottom: 0.6em;
  }
  section#block-ppwg-ppwgfeatureservices .feature-text {
    font-size: 19px;
    line-height: 145.5%;
  }
}
.footer .region-footer nav {
  display: flex;
  justify-content: center;
}
.footer .region-footer nav a {
  font-weight: normal;
}
.footer .region-footer nav .nav > li > a:hover, .footer .region-footer nav .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.footer .region-footer ul.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .region-footer ul.menu li {
  flex: 0 0 auto;
}

@media (max-width: 991px) {
  .footer .region-footer ul.menu {
    flex: 1 0 100%;
    max-width: 100%;
    justify-content: left;
  }
}
.discord-endossmp-link {
  position: relative;
  text-align: left;
  margin-left: 10px;
}

.discord-endossmp-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.discord-endossmp-link img.discord-img {
  padding: 30px;
  max-width: 180px;
}

/* Footer Copyright */
#block-endossmp-theme-footercopyright .field--name-body {
  font-size: 80%;
  text-align: center;
}

.container-fluid {
  padding-left: 0;
}

.container.ppwg-grid-one {
  padding: 60px 14px;
}
.container.ppwg-grid-one .ppwg-grid-one-card {
  padding: 17px;
  text-align: center;
}
.container.ppwg-grid-one .ppwg-grid-one-title {
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 10px;
  text-transform: uppercase;
  padding-bottom: 12px;
}
.container.ppwg-grid-one .ppwg-grid-one-title a {
  color: #00548D;
}
.container.ppwg-grid-one .ppwg-grid-one-title a:hover {
  color: #66B2FF;
}
.container.ppwg-grid-one .ppwg-grid-one-title a {
  text-decoration: none;
}
.container.ppwg-grid-one .ppwg-grid-one-item {
  text-decoration: none;
  color: inherit;
  display: block;
}
.container.ppwg-grid-one .ppwg-grid-one-item img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .container.ppwg-grid-one .ppwg-grid-one-item img {
    width: 200px;
    height: auto;
  }
}
@media (min-width: 992px) {
  .container.ppwg-grid-one { /* Large screens */ }
}

#block-ppwg-ourteam .block-title, #block-ppwg-ourfacility .block-title {
  text-align: center;
  color: #00548D;
  font-size: 2.2em;
  padding-top: 40px;
}

.path-frontpage h1.page-header {
  text-align: center;
}

/* GRID TWO FEATURED TREATMENTS */
.container.ppwg-grid-two {
  padding: 60px 14px;
}

.ppwg-grid-two-card {
  padding: 25px 35px;
  text-align: center;
  /* Other styles as needed */
}

.ppwg-grid-two-title {
  color: #006DB8;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  padding: 20px 0;
}

.ppwg-grid-two-subhead {
  color: #4D4E4F;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
}

.ppwg-grid-two-item {
  color: inherit;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Easing effect for background color change */
}

.ppwg-grid-two-item:hover .ppwg-grid-two-card {
  background-color: #e7e7e7; /* Change to desired hover background color */
}

.ppwg-grid-two-item img {
  width: 76px;
  height: auto;
  border-radius: 20px;
}

/* Title and Subhead link styles */
.ppwg-grid-two-title a, .ppwg-grid-two-subhead a {
  color: inherit;
  text-decoration: none;
}
.ppwg-grid-two-title a:hover, .ppwg-grid-two-subhead a:hover {
  color: #00548D;
}

/* Responsive styles */
@media (min-width: 768px) {
  /* Adjustments for medium screens */
}
@media (min-width: 992px) { /* Large screens */
  /* Adjustments for large screens */
}
.ppwg-grid-two-item-div {
  display: block;
}

.ppwg-grid-two-item-div:hover {
  background-color: #e7e7e7; /* Gray background on hover */
  transition: background-color 0.3s ease; /* Smooth transition for the hover effect */
}

.ppwg-grid-two-item-div:hover {
  background-color: #e7e7e7; /* Gray background on hover */
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* OUR FACILITY */
.ppwg-grid-three-card {
  padding: 15px;
}

/* TESTIMONIALS */
.ppwg-testimonials {
  background-color: #006DB8;
  text-align: center;
  padding: 30px;
}
.ppwg-testimonials .ppwg-review {
  color: #FFF;
  text-align: center;
  font-family: Plus Jakarta Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 157.5%;
  padding: 40px 50px;
}
.ppwg-testimonials .ppwg-review img {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .ppwg-testimonials {
    padding: 90px;
  }
  .ppwg-testimonials .ppwg-review {
    font-size: 30px;
    line-height: 157.5%;
    padding: 40px 50px;
  }
}
.footer {
  background-color: #006DB8;
  text-align: center;
  padding: 30px;
  font-family: Plus Jakarta Sans, sans-serif;
}
.footer .ppwg-footer-address, .footer .ppwg-footer-hours, .footer .ppwg-footer-phone {
  font-size: 16px;
  font-weight: 700;
  padding: 7px;
  color: #F8F8F8;
}
.footer .ppwg-footer-copyright {
  font-size: 14px;
  padding: 20px;
  color: #F8F8F8;
  font-weight: normal;
}
.footer .ppwg-footer-copyright p {
  margin-bottom: 0;
}
.footer .ppwg-footer-links {
  font-size: 14px;
}
.footer .ppwg-footer-links a {
  color: #F8F8F8;
  font-size: 14px;
  font-weight: normal;
}

.view-features-list h4 {
  font-weight: 300;
  margin-bottom: 10px;
}
.view-features-list .views-row {
  border-bottom: 1px gray solid;
  margin: 0 20px;
  padding: 40px 0 10px;
}
.view-features-list .views-field .resources-summary-body {
  margin-bottom: 20px;
}

/* Read more buttons */
.read-more-button a {
  background-color: #1d8371;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative; /* Add this for the movement effect */
}

.read-more-button a:hover {
  background-color: #25ad95;
}

.read-more-button a:active {
  /* This gives the movement effect on click */
  top: 1px;
  left: 1px;
}

/* For Views Feature Taxonomy link below the Image */
/* Taxonomy Category */
.field--name-field-category .field--label {
  font-weight: normal;
  float: none;
}
.field--name-field-category .field--items .field--item a {
  font-weight: normal;
}

.field--name-field-category {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.field--name-field-category .field--item {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  position: relative;
}

.field--name-field-category .field--item:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -7px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
}

.field--name-field-category {
  margin-bottom: 20px;
}

/* Tags */
.resources-list-tags {
  padding-top: 20px;
  float: right;
  text-align: right;
  color: gray;
}
.resources-list-tags a {
  color: gray;
  font-weight: 300;
  font-size: 90%;
  text-decoration: none;
  padding-right: 4px;
}
.resources-list-tags a:hover {
  text-decoration: underline;
}

.views-row::after {
  content: "";
  display: table;
  clear: both;
}

/* Taxonomy Terms Pages Views */
.title-attribute-001 {
  padding-top: 20px;
}

.container {
  max-width: 1140px;
}

/*# sourceMappingURL=main.css.map */
