/* Base Styles (Mobile First) */

section#block-ppwg-views-block-ppwg-slideshow-block-2 {
  margin-top: 15px;
}


.view-ppwg-slideshow .slick__slide {
  position: relative;
}

/* Positioning the headline and subhead over the image for mobile */
.view-ppwg-slideshow .blazy__caption {
  position: absolute;
  top: 21%; /* Adjust as needed for mobile */
  left: 36%;
  transform: translateX(-50%);
  text-align: left;
  width: 58%; /* Adjust width as needed */
  color: white;
}

/* Styling for the headline - Mobile */
.view-ppwg-slideshow .blazy__caption--title {
  color: #006DB8;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 28px; /* Smaller font for mobile */
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

/* Styling for the subhead - Mobile */
.view-ppwg-slideshow .blazy__caption--description {
  color: #006DB8;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px; /* Smaller font for mobile */
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: left; /* Justify subhead to the left */
  display:none;
}

/* Medium Screens (Tablets) */
@media (min-width: 768px) {
  .view-ppwg-slideshow .blazy__caption {
    position: absolute;
    top: 45%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 55%;
  }

  .view-ppwg-slideshow .blazy__caption--title {
    font-size: 36px; /* Adjusted font size for tablets */
    line-height: 42px;
    color: #4D4E4F;
  }

  .view-ppwg-slideshow .blazy__caption--description {
    font-size: 20px; /* Adjusted font size for tablets */
    line-height: 26px;
    display: block;
  }
}

/* Large Screens */
@media (min-width: 992px) {
  .view-ppwg-slideshow .blazy__caption--title {
    font-size: 49px; /* Original font size for large screens */
    line-height: 62px;
  }

  .view-ppwg-slideshow .blazy__caption--description {
    font-size: 26px; /* Original font size for large screens */
    line-height: 40px;
  }
}
