/*-- Hero Slider --*/

.slick__slider {
    margin: 0 auto;
    max-width: 1400px;
  }
  
  .media--blazy {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .slide {
    position: relative;
  
    &__caption {
      bottom: 0;
      min-height: 80px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
      position: relative;
      color: #dbdbdb;
    }
    
    &__link {
      display: inline-block;
      margin-top: 20px;
  
      a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #9d1e11;
        color: #dbdbdb;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition: transform 0.3s ease;
  
        &:hover {
          background-color: #c94536;
          transform: translateY(-3px);
        }
        
        &:active {
          background-color: rgb(233, 171, 37);
          transform: translateY(1px);
        }
      }
    }

    
    &__content {
      position: relative;
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 1;
      }
    }
  
    &__description {
      font-size: 70%;
    }
    
    &__media {
      position: relative;
  
      .media--blazy {
        position: relative;
        z-index: 0;
      }
    }
  }
  
  .slick--skin--fullwidth {
    .slide__title {
      font-size: 220%;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
    }
    
    .slide__caption {
      font-size: initial;
    }
    .slide__link a {
      //border-bottom: 2px solid rgba(233, 171, 37, 0.8);
      //border-top: 2px solid rgba(233, 171, 37, 0.8);
    }
  }
  
  section#block-views-block-endos-sliders-block-1 {
    margin-bottom: 2em;
  }
  
  @media (min-width: 768px) {
    .slick__slide {
      .slide__constrained {
        height: 100%;
        left: 50%;
        margin-left: -49%;
        position: absolute;
        width: 98%;
      }
      
      .slick--skin--fullwidth {
        .slide__caption {
          top: 0px;
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .slick--skin--fullwidth {
      .slide__caption {
        font-size: 65%;
        top: -40px;
      }
    }
    
    .slick__slide {
      .slide__constrained {
        box-sizing: border-box;
        height: 100%;
        min-height: 210px;
        padding-top: 10%;
        pointer-events: none;
        top: 0;
        z-index: 2;
        display: none;
      }
    }
  }

.slide--caption--bottom .slide__constrained > .slide__caption {
    background: radial-gradient(black, transparent);
    background-color: rgba(0, 0, 0, 0);
}

/* Adjust for mobile image size */
@media (max-width: 767px) {
  .slide__media .media--blazy, 
  .media.media--ratio {
    height: 250px !important;
  }
}

