/*-- Homepage Paragraphs --*/

.headline-row {
    //background-image: url(/sites/default/files/2023-06/one-block-minecraft-build.png);
    //background-size: cover;

}


h2.field--name-field-join-us-title, h2.field--name-field-feature-title, h2.field--name-field-testimonial-title, h2.field--name-field-about-us-title {
    padding: 40px 0 0px;
    text-align: center;
    font-weight: 300;
    line-height: 1.3em;
    clear: both;
}

.paragraph.paragraph--type--about-section.paragraph--view-mode--default {
    padding: 10px 70px 50px;
    border: 2px solid #8a6d3b;
    background: #080808;
    border-radius: 20px;
    margin-bottom: 40px;
}


.paragraph.paragraph--type--feature.paragraph--view-mode--default {
    padding: 10px 70px 50px;
    border: 2px solid #8a6d3b;
    background: #080808;
    border-radius: 20px;
    margin-bottom: 40px;
}

.paragraph.paragraph--type--testimonials.paragraph--view-mode--default {
    padding: 10px 70px 50px;
    border: 2px solid #8a6d3b;
    background: #080808;
    border-radius: 20px;
    margin-bottom: 40px;
}

@media (min-width: 1200px) {

.paragraph.paragraph--type--feature.paragraph--view-mode--default {
    margin: 10px 20px 50px 0px;
}

.paragraph.paragraph--type--testimonials.paragraph--view-mode--default {
    margin: 10px 0 50px 20px;
}

}

.field--name-field-feature-description ul {
    list-style-type: disc;
    margin-left:20px;
    li {
        padding: 0 0 26px 6px;
        line-height: 1.5em;
    }
}

.field--name-field-features-section, .field--name-field-testimonials {
    @media (min-width: 1200px) {
        float: left;
        width: 48%;
        margin-right: 2%;
        
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

.field--name-field-image-homepage img {
    margin: 0 auto;
    border-radius: 20px;
    padding-bottom: 40px;
  }

/* join now button */

.field--name-field-join-us-text {
    text-align: center;

    .join-now-button {
        margin: 20px 0 0;
        width: 133px;
        font-weight: bold;
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        font-size: 18px;
        padding: 8px 12px;
        text-decoration: none;
        text-align: center;
        border: 1px solid white;
        text-transform: uppercase;

        a {
            color: #fff;
        }

        a:hover {
            text-decoration: none;
        }

        &:hover {
            background-color: #0056b3;
        }
    }
}